@model IEnumerable<MvcNetCoreAzureStorage.Models.BlobModel>

@{
    ViewData["Title"] = "ListBlobs";
}

<h1>ListBlobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="@item.Url" target="_blank">@item.Url</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenedor)
            </td>
            <td>
                <img src="@item.Url" style="width:70px; height: 70px;" />
                    <a asp-controller="AzureBlobs" asp-action="DeleteBlob" asp-route-containername="@item.Contenedor" asp-route-blobname="@item.Nombre" class="btn btn-danger">Delete blob: <b>@item.Nombre</b></a>
            </td>
        </tr>
}
    </tbody>
</table>
